---
- name: Provision Virtual Machine
  hosts: "{{ target_host }}"
  become: yes
  vars:
    vm_name: "{{ vm_name }}"
    vm_cpu: "{{ vm_cpu }}"
    vm_memory: "{{ vm_memory }}"
    vm_disk: "{{ vm_disk }}"
    vm_os: "{{ vm_os }}"
    vm_os_version: "{{ vm_os_version }}"
  
  tasks:
    - name: Create VM disk image
      command: >
        qemu-img create -f qcow2 
        /var/lib/libvirt/images/{{ vm_name }}.qcow2 
        {{ vm_disk }}G
      
    - name: Download OS image if not exists
      get_url:
        url: "{{ os_images[vm_os][vm_os_version] }}"
        dest: "/var/lib/libvirt/images/{{ vm_os }}-{{ vm_os_version }}.iso"
        mode: '0644'
      when: not lookup('file', '/var/lib/libvirt/images/{{ vm_os }}-{{ vm_os_version }}.iso', errors='ignore')
    
    - name: Generate VM XML configuration
      template:
        src: vm-template.xml.j2
        dest: "/tmp/{{ vm_name }}.xml"
    
    - name: Define VM
      command: virsh define /tmp/{{ vm_name }}.xml
    
    - name: Start VM
      command: virsh start {{ vm_name }}
    
    - name: Wait for VM to boot
      wait_for:
        port: 22
        host: "{{ vm_ip }}"
        timeout: 300
      when: vm_ip is defined